.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d11e1e;
    
  }
  
  .input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #0a19e4;
    border-radius: 4px;
  }